body {
  font-family: Arial, sans-serif;
  font-size: 16px;

}

/* reduced button size to 15px so inverse works in mobile view */
.btn {
  font-family: Arial, sans-serif;
  font-size: 15px;
}



/* overide bootstrap color  */
.sci-calculator-buttons button:not(.equals-button), #rad-button, #deg-button, .btn-secondary {
      background-color: rgba(218, 220, 224);
      color: rgba(32, 33, 36);
    }

.calculator-buttons button:not(.equals-button) {
      color: rgba(32, 33, 36);
    }

/* overide the bootstrap color for equals to match color from google */
.equals-button {
  background-color: #4285f4;
}

/* calc and sci buttons */
#calc-mode {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #F0F8FF;
  color: #0d6efd;
}

#sci-mode {

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;

  margin-right: 0;
}

  /* styling of the  */
  #rad {
    border-right: 1px;
    border-right-style: solid;
    border-right-color: darkgray;
    padding-right: 2px;
  }

 /* grid container to apply bespoke grid to scientific buttons
 used to overcome errors occuring with approach in bootstrap
 ideally refactor the structure of the bootstrap html in future
 so bespoke css not required. 
 */

 /* 4 columns for mobile view */
  .grid-science-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    column-gap: 0.5rem !important;
    row-gap: 0.5rem !important;
}

.sci-calculator {
  margin: 0px;
}
.grid-item-double {
    grid-column: span 2;
}

/* breakpoint to flip into 3 columns for desktop view */
@media (min-width: 992px) {
    .grid-science-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item-double {
        grid-column: span 2;
    }

    /* 2 columns for mobile view */
    .grid-calculator-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
    }
}


/* COULD BE USED TO STYLE A BORDER BETWEEN RAD AND DEG */
/* .rad-deg-middle-border {
  
} */
