.btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active {
      background-color: rgba(0, 123, 255, 0.75);
      border-color: rgba(0, 123, 255, 0.75);
    }

/* calc and sci buttons */
#calc-mode {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #F0F8FF;
  color: #0d6efd;
}

#sci-mode {

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;

  margin-right: 0;
}

#rad-deg-button {
    /* border: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px; */
  }

  /* styling of the  */
  #rad {
    border-right: 1px;
    border-right-style: solid;
    border-right-color: darkgray;
    padding-right: 2px;
  }

 /* grid container to apply bespoke grid to scientific buttons
 used to overcome errors occuring with approach in bootstrap
 ideally refactor the structure of the bootstrap html in future
 so bespoke css not required. 
 */




 /* 4 columns for mobile view */
  .grid-science-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    column-gap: 0.25rem;
}

.sci-calculator {
  margin: 0px;
}
.grid-item-double {
    grid-column: span 2;
}

/* breakpoint to flip into 3 columns for desktop view */
@media (min-width: 992px) {
    .grid-science-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item-double {
        grid-column: span 2;
    }

    /* 2 columns for mobile view */
    .grid-calculator-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.25rem;
    }
}

/* CSS TO STYLE RAD/DEG Button */


